<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="/">Fetch Takehome Assignment</a>-->
	<span class="navbar-brand mb-0 h1">Fetch Takehome Assignment</span>
  <ul class="navbar-nav mr-auto">
	<li class="nav-item active">
		<a class="nav-link" href="/" style="margin-left: 20px;"> Login Summary </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/userData" style="margin-left: 20px;"> User Data </a>
	</li>
    <li class="nav-item">
		<a class="nav-link" href="https://linkedin.com/in/Girish-jonnavithula" style="margin-left: 20px;">
			<img src="http://localhost:3000/images/linkedin.png" style="width:24px;height:24px;"> LinkedIn</img>
		</a>
    </li>
    <li class="nav-item">
		<a class="nav-link" href="https://github.com/JonnavithulaGirish" style="margin-left: 20px;">
			<img src="http://localhost:3000/images/github.png"  style="width:24px;height:24px;">  Github </img>
		</a>
    </li>
  </ul>
</nav>



